body{
    background-image: url("/static/images/mudryk.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

@font-face {
    font-family:League;
    src: url("/static/fonts/DIN\ Bold.ttf");
}

.chelsea_logo{
    margin-right: 3%;
    margin-top: 1%;
}


.nike_logo{
    margin-left: 3%;
    margin-top: 1%;
}

nav{
    position: absolute;
    right: 57%;
    top: 6%;
}

nav button{
    margin-right: 25px;
    background-color: transparent;
    border:none;
    color: white;
    font-family: League;  
}

ion-icon{
    color: white;
    font-size: 159%;
    position: absolute;
    right: 10%;
    top: 6%;
    
}