body{
    background-image: url("/static/images/Mykhailo_Mudryk_Chelsea_2022-23.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

@font-face {
    font-family: Din ;
    src: url(/static/fonts/DIN\ Bold.ttf);
}



nav{
   display: flex;
   flex-direction: row;
   margin-left: 11%;
   margin-top: 2%;
   
}

nav,button{
    background-color: transparent;
    border: transparent;
    font-family: Din;
    color: whitesmoke;
    margin-right: 42px;
    font-size: 94%;
}

